<div  cdkDropList cdkDropListOrientation="horizontal" class="grid-container" [cdkDropListData]="tiles" (cdkDropListDropped)="drop($event)" class="grid-container">
  <h1 class="mat-h1"><span></span>{{'Dashboard' | translate}}</h1>
  <mat-grid-list role="list" [cols]="cols" rowHeight="160">
  <mat-grid-tile *ngFor="let tile of tiles" cdkDrag role="listitem" [colspan]="1" [rowspan]="1" style="color:black">
    <mat-card class="dashboard-card" [ngStyle]="{'background-color': tile.color}">
      <mat-card-header>
        <h5>{{tile.title | translate}}</h5>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <i class="{{tile.icon}} left-icon"></i><span class="right-icon">{{tile.value}}</span>
      </mat-card-content>
    </mat-card>
   </mat-grid-tile>
  </mat-grid-list>
</div>



<div cdkDropList class="charts" [cdkDropListData]="chartTiles" (cdkDropListDropped)="dropChart($event)">
  <mat-grid-list [cols]="4" rowHeight="430px">
    <mat-grid-tile *ngFor="let chart of chartTiles"
                  cdkDrag
                  cdkDragData="chart"
                  [colspan]="chart.colspan"
                  [rowspan]="chart.rowspan"
                  role="listitem">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <span>{{chart.title | translate}}</span>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <ng-container *ngComponentOutlet="chart.component"></ng-container>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

