.grid-container {
  margin:0px;
  padding: 10px;


}
.mat-h1{
  margin-left:1.5%;
}
.dashboard-card {
  cursor: move;
  position: absolute;
  top:2px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  height:100;
  font-family: 'Prompt', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size:20px;
  border-radius: 12px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
  height:100vh;
  position: relative;
}


.left-icon {
  position: absolute;
  top: 0;
  left: 0;
  margin-top:2%;
  margin-left:20px;
  font-size: 45px;

}

.right-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin-top:3%;
  margin-right:20px;
  font-size:35px;
}
.all-transations button{
  border:none;
  border-radius:10px;
  width:100%;
  font-size: 18px;
  font-family:Arial, Helvetica, sans-serif;
  height:7vh;
}


