.dashboard-card {
  cursor: move;
  position: absolute;
  top:2px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  height:100;
  font-family: 'Prompt', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-size:20px;
  border-radius: 12px;
}


.all-transations button{
  border:none;
  border-radius:10px;
  width:100%;
  font-size: 18px;
  font-family:Arial, Helvetica, sans-serif;
  height:7vh;
}
